@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">House Keeper</h1>
    <p>The purpose of this app is to help you keep track of all the tasks that need done around the house.</p>
</div>
